@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "FiraGo";
  src: local("firaGo"), url("./fonts/FiraGO-Regular.otf") format("truetype");
}

@layer utilities {
  html,
  *,
  body {
    font-family: "FiraGo", sans-serif;
  }
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
