@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "firaGo";
  src: local("firaGo"), url("./fonts/FiraGO-Regular.otf") format("truetype");
}

* {
  font-family: "firaGo";
}
